@model IEnumerable<SchoolAPI.Models.Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Courses</h2>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-success"><i class="fas fa-plus"></i>&nbsp; @Html.ActionLink("Add New Course", "Create")</button>
    </div>
</div>
<br />
<div class="p-4 border rounded">
    <table  class="table table-stripped table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>@Html.DisplayNameFor(model => model.CourseCode)</th>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.CourseCode)</td>
                    <td>@Html.DisplayFor(m => item.Title)</td>
                    <td></td>
                    

                    <td>@Html.ActionLink("Edit","Edit",new { })</td>
                    <td>@Html.ActionLink("Assign","Assign",new { id = item.Id})</td>
                    <td>@Html.ActionLink("Delete","Delete",new { id = item.Id})</td>
                </tr>
            }
    </table>
</div>
@section Scripts{
    <script src="~/Scripts/Customjs/student.js"></script>
}

